# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
# Node / Frontend
node_modules/
frontend/dist/
frontend/node_modules/

build/

# Virtual environment
.venv/
venv/
env/

# Saves do jogo
saves/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PyInstaller (.exe)
*.spec
